html{
  scroll-behavior: smooth;
}

* {

  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: inherit;
}

.box {
  background: url(./background.png) no-repeat;
  background-size: cover;

  backdrop-filter: blur(500px);
  background-size: 100% 100%;
  animation: gradientBG 8s ease infinite;
  height: 96vh;
  
}


.box p{
  font-size: 20px;
  color:#fff;
  font-family: "Poppins", sans-serif;

}

body {
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  background-color: #f8f9fa; /* fallback */

}


.navbar {
  background: rgba(255, 255, 255, 0.85); /* trắng trong suốt nhẹ */
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_dau {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: inherit;
}

.logo_dau img {
  height: 40px;
  width: auto;
}

.menu a {
  color: #2c3e50;
  text-decoration: none;
  margin-left: 29px;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #ff7f50; /* màu cam sáng */
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;

  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  display: none;
  flex-direction: column;
  
  z-index: 999;

  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  padding: 10px 15px;
  color: #2c3e50;
  text-decoration: none;
  display: block;
  transition: background 0.3;
}

.dropdown-content a:hover {
 
  background-color: #ff7f50;
  color: #fff;

}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

/* Ảnh bên phải */
.box img {
  float: right;
  width: 500px;
  height: auto;
  margin: 20px;
}

/* Tiêu đề */
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: #ffffff;
  padding: 30px;
}
.search-box {
  display: flex;
  align-items: center;
  margin-left: 370px;
  flex-direction: row;
  margin-top: -25px;
}

.search-box input {
  padding: 30;
  margin: 30;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-box button {
  padding: 6px 10px 6px;
  background-color: #ff7f50;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #e0673d;
}


.logo{
  font-size: 30px;
  color: #333;
  text-decoration: none;
  font-weight: 500;

}
#cart-icon{
  position: relative;
  display: flex;
  font-size: 30px;
  cursor: pointer;
}
#cart-icon .cart-item-cloud{
  position:absolute;
  border-radius: 50%;
  top: 0px;
  right: -6px;
  width: 15px;
  height: 15px;
  background-color: #e35f26;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}


.shop {
  padding: 0px 10% 30px;
  position: relative;
}
.shop h1{
  color:black;
}
.selection-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
}
.product-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product-box .img-box {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  transition: 0.5s;
}

.img-box:hover img {
  transform: scale(1.1);
}
.product-box .produc-title{
  font-size: 20px;
  margin-top: 10px;
}
.product-box .price-and-cart{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.price-and-cart .price{
  font-size: 30px;
  font-weight:500;

}
.price-and-cart .fa-cart-shopping{
  padding:10px;
  background: #e35f26;
  border-radius: 6px;
  font-size: 20px;
  color:white;
  cursor: pointer;


}
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
padding: 45px 5px 20px;
z-index: 1000;
overflow: auto;  
transition: 0.5s;
}
.cart.active{
  right:0;

}

.cart-title{
  text-align: center;
  font-size: 30px;

}
.cart-box{
  display: flex;
  align-items: center;
  margin-top: 40px;

}
.cart-box img{
 height:100px;
 width: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 0px;

}


.cart-detail{
  display: grid;
  gap: 8px;
  margin-right: auto;
  margin-left: 30px;

}
.cart-product-title{
  font-size: 16px;
  list-style: 1;

}
.cart-price{
  font-weight: 500;

}
.cart-quantity{
  display: flex;
  width: 100px;
  border: 1px solid #999;
  border-radius: 6px  ;
}
.cart-quantity button{
  background: transparent;
  width: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;

}
.cart-quantity #decrement{
color:#999;
}
.cart-quantity .number{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  border-left: 1px solid #999 ;
  border-right: 1px solid #999 ;
  cursor: default;

}
.cart-remove{
  font-size: 25px;
cursor: pointer;

}
.total-price{
  margin-left: 10px;
  font-weight: 600;
}
.btn-buy{
  display: block;
  padding: 10px 30px;
  background: #e35f26;
  border:none;
  border-radius:6px ;
  font-size: 16px;
  color: #fff;
  margin: 20px auto 0;
  cursor: pointer;

}
#cart-close{
  position: absolute;
  top: 20px;
  right:15px;
  left:100px;
  justify-content: center;
  align-items: center;
font-size: 35px;
cursor: pointer;

}



.menu{
  margin-right: 50px;

}
@media(max-width: 600px){
  .menu{
    margin-right: 0;
    background-color: red;
    display: block;
    flex-direction: column;
  }
}




.caffe {
  padding: 0px 10% 30px;
  position: relative;
}
.caffe h1{
  color:black;
}
.caffe-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
}
.caffe-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.caffe-box .img-caffe {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.img-caffe img {
  width: 100%;
  transition: 0.5s;
}

.img-caffe:hover img {
  transform: scale(1.1);
}
.caffe-box .caffehai-title{
  font-size: 20px;
  margin-top: 10px;
}
.caffe-box .price-and-caffe{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.price-and-caffe .pricecaffe{
  font-size: 30px;
  font-weight:500;

}
.price-and-caffe .fa-cart-shopping{
  padding:10px;
  background: #e35f26;
  border-radius: 6px;
  font-size: 20px;
  color:white;
  cursor: pointer;


}





.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
padding: 45px 5px 20px;
z-index: 1000;
overflow: auto;  
transition: 0.5s;
}
.cart.active{
  right:0;

}

.cart-title{
  text-align: center;
  font-size: 30px;

}
.cart-box{
  display: flex;
  align-items: center;
  margin-top: 40px;

}
.cart-box img{
 height:100px;
 width: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 0px;

}
@media(max-width:792){
  .search-box{
    margin-right:50px;
    display:grid;

  }
}
.signup{
  display: flex;
  justify-content: end;
  align-items: end;
  
  right:0;
  margin-left:385px ;
  background: #ffff;
  font-weight: bold;
  font-style: 20px;
  border: 1px solid black;
  border-radius: 15px;
  
transition: .5s;

}
.signup:hover{
  color:#e35f26;
  cursor: pointer;
  transform: translateY(-5px)
}
.mess i{
  position: fixed;
  top:94%;
  left:95%;
  color:#0084FF  ;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
 
}



.mess i:hover{
transform: scale(1.2);
}

.git i{
  position: fixed;
  top:85%;
  left:94%;
  color:#563d7c;
  font-size: 34px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.git i:hover{
  transform: scale(1.2);
  }